body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    transform: translateY(-50px);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

.feedback-message {
    text-align: center;
    font-size: 35px;
    color: green;
    margin-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    transform: translateY(5px);
}

.centered-box {
    width: 300px;
    height: 239px;
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(10px);
}

.centered-box p {
    color: black;
    font-size: 50px;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input:focus {
    border-color: #007BFF;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.centered-box button {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.centered-box button:hover {
    background-color: #007BFF;
    color: white;
}

#video {
    border: 10px solid lightblue;
    margin-top: 20px;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video img {
    width: 100%;
    height: auto;
}

.items {
    display: flex;
    gap: 20px;
    align-items: center;
}
